.lazy-loader {
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: 200;
    color: white;
    background-color: black;
}
.displaycontent{
    animation: displaycontent 1s forwards;
}
.enter-loading{
    animation: enterloading 0.25s forwards;
}
@keyframes displaycontent {
    0%{
        display: flex;
        opacity: 1;
    }
    99%{
        opacity: 0;
        z-index: 0;
        
    }
    100%{
        opacity: 0;
        z-index: -1;
        display: none;
    }
}
@keyframes enterloading {
    0%{
        opacity: 0;
        z-index: 0;
        display: none;
        
    }
    99%{
        opacity: 0;
        z-index: 0;
        
    }
    100%{
        display: flex;
        opacity: 1;
        z-index: 200;
    }
}
.lazy-loader > div:nth-child(1){
	animation: enlarge 2s ease-in-out 0s infinite;
}
.lazy-loader > div:nth-child(2){
	animation: enlarge 2s ease-in-out 0.2s infinite;
}
.lazy-loader > div:nth-child(3){
	animation: enlarge 2s ease-in-out 0.4s infinite;
}
.lazy-loader > div:nth-child(4){
	animation: enlarge 2s ease-in-out 0.6s infinite;
}
.lazy-loader > div:nth-child(5){
	animation: enlarge 2s ease-in-out 0.8s infinite;
}
.lazy-loader > div:nth-child(6){
	animation: enlarge 2s ease-in-out 1s infinite;
}
.lazy-loader > div:nth-child(7){
	animation: enlarge 2s ease-in-out 1.2s infinite;
}
.lazy-loader > div:nth-child(8){
	animation: enlarge 2s ease-in-out 1.4s infinite;
}
.lazy-loader > div:nth-child(9){
	animation: enlarge 2s ease-in-out 1.6s infinite;
}
.lazy-loader > div:nth-child(10){
	animation: enlarge 2s ease-in-out 1.8s infinite;
}

@keyframes enlarge {
	25% {font-size: 30px;}
	50% {font-size: 20px;}
	100% {}
}
.navbar{
    width: 100vw;
    height: 100%;
    
    &-left{
        width: 50vw;
        height: 100%;
    }
    &-right{
        width: 50vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-item{
        background-color: rgba(2, 2, 2, 0.463);
        text-decoration: none;
        color: rgb(129, 129, 129);
        padding: 1vh 2vw;
        margin: 0 1vw;
        border: white 1px solid;
        border-radius: 10px;
    }
}
.greeting {

//   background-image: url("../images/spejs 3.png");
  
//   background-position: center center;
  
//   background-repeat: no-repeat;
  
//   background-attachment: fixed;
  
//   background-size: cover;

//   background-color: #464646;
}

#stack-background {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 0.2;
    background: url("../images/pexels-neo-2653362.jpg");
    background-position: center center;

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-size: cover;

    background-color: #464646;
}
.about > div > div > p {
    padding: 0 10vw;
}
.about-background1 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    opacity: 0.2;
    background: url("../images/IMG_8315.jpg");
    background-position: center center;

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-size: cover;

    background-color: #464646;
}
.about-background2 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    opacity: 0.2;
    background: url("../images/c++.jpg");
    background-position: center center;

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-size: cover;

    background-color: #464646;
}
.about-background3 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    opacity: 0.2;
    background: url("../images/earphones-4839690_1920.jpg");
    background-position: center center;

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-size: cover;

    background-color: #464646;
}
.card {
    width: 100vw;
    height: 100vh;
}
.mail {
    text-decoration: none;
    color: rgb(129, 129, 129);
    font-size: 50px;
}

.to-licence {
    text-decoration: none;
    color: rgb(129, 129, 129);
    font-size: 30px;
}
.portal {
    text-decoration: none;
    color: rgb(160, 160, 160);
}
.footer-link{
    text-decoration: none;
    color: rgb(160, 160, 160);
}
.copyright {
    color: rgb(55, 55, 55)
}
.licence-container *{
    color: white;

}
.licence-container {
    background-color: black;
    margin: 0;
    padding: 10vh 10vw;
}
.licence-container h3, .licence-container ol {
    margin: 0;
}
.licence-container ol li,.licence-container ul li {
    margin: 2vh 2vw;
}

.portfolio{
    background: black;
    color: white
}
.contactsection{
    background: rgb(101,0,156);
    background: radial-gradient(circle, rgba(101,0,156,1) 0%, rgba(6,0,79,1) 100%);
}

.sidepanel {
    position: fixed;
    top:0;
    left: 0;
    width: 20vw;
    height: 100vh;
    color: white;
    background-color: black;
    &-category{
        height: 10vh;
        width: 100%;
        &:hover{
            background-color: rgb(12, 12, 12);
        }
    }
}
.displaypanel {
    position: fixed;
    top:0;
    left: 20vw;
    width: 80vw;
    height: 100vh;
    color: white;
    background-color: rgb(88, 88, 88);
}

#loginform{
    margin: 0;
    padding: 0;
}