.item{
    height: 20vh;
    width: 20vw;
    min-height: 192px;
    min-width: 340px;
    background: black;
    border-radius: 10px;
    overflow: hidden;
    border: solid rgb(39, 39, 39) 1px;
    &-edit{
        height: 20vh;
        width: 20vw;
        min-height: 282px;
        min-width: 500px;
        background: black;
        border-radius: 10px;
        overflow: hidden;
        border: solid rgb(39, 39, 39) 1px;
    }
    &-toggler{
        width: 20vw;
        min-width: 340px;
    }
    &-visual{
        height: inherit;
        width: inherit;
        min-height: inherit;
        min-width: inherit;
    }
    &-thumbnail{
        border-radius: 10px 10px 0 0;
    }

    &-details{
        height: inherit;
        width: inherit;
        min-height: inherit;
        min-width: inherit;
        display: flex;
        text-align: center;
        opacity: 0;
        z-index: 10;
        background: rgb(39, 39, 39);
    }
    &-description{
        z-index: -1;
        pointer-events: none;
        border-bottom: 1px solid white;
    }
    &-links{
        z-index: -1;
        pointer-events: none;
        a{
            pointer-events: all;
            border: 1px rgb(129, 129, 129) solid;
            background: black;
            text-decoration: none;
            color: rgb(129, 129, 129);
            border-radius: 10px;
            padding: 2% 4%;
        }
    }
    &-button{

    }

}
.item-show{
    animation: showDetails 0.5s forwards;
}
.item-hide{
    animation: hideDetails 0.5s forwards;
}
@keyframes showDetails {
    0%{
        display: flex;
        opacity: 0;
    }
    100%{
        display: flex;
        opacity: 1;
        pointer-events: all;
    }
}
@keyframes hideDetails {
    0%{
        display: flex;
        opacity: 1;
        background: rgba(65, 65, 65, 0.99);
        pointer-events: all;
    }
    100%{
        display: flex;
        opacity: 0;
        background: rgba(65, 65, 65, 0);
        
    }
}