/*main page*/
.greeting .region-top{
    height: 25vh;
    width: 100vw;
}
.greeting .region-mid{
    height: 50vh;
    width: 100vw;
}
.greeting .region-bot{
    height: 25vh;
    width: 100vw;
}
.stack .region-top{
    height: 25vh;
    width: 100vw;
}
.stack .region-mid-upper{
    height: 10vh;
    width: 100vw;
}
.stack .region-mid-lower{
    height: 40vh;
    width: 100vw;
}
.stack .region-bot{
    height: 25vh;
    width: 100vw;
}
.region1, .region2, .region3 {
    height: 100vh;
    width: 100vw;
}
.region-full {
    height: 100%;
    width: 100%;
}
.region-piece-1-2 {
    height: calc( 100% / 2 );
    width: 100%;
}
.region-piece-1-3 {
    height: calc( 100% / 3 );
    width: 100%;
}
.region-piece-2-3 {
    height: calc( 100% / 3 * 2 );
    width: 100%;
}
.region-piece-1-4 {
    height: calc( 100% / 4 );
    width: 100%;
}
.region-piece-3-4 {
    height: calc( 100% / 4 * 3 );
    width: 100%;
}
.region-piece-1-5 {
    height: calc( 100% / 5 );
    width: 100%;
}
.region-piece-1-10 {
    height: calc( 100% / 10 );
    width: 100%;
    background-color: rgba(27, 27, 27, 0.455);
}
.region-piece-8-10 {
    height: calc( 100% / 10 * 8 );
    width: 100%;
}
/*portfolio*/
.portfolio .region1-top {
    width: 100vw;
    height: 25vh;
}
.portfolio .region1-mid {
    width: 100vw;
    height: 50vh;
}
.portfolio .region1-bot {
    width: 100vw;
    height: 25vh;
}
.portfolio .region2-top {
    width: 100vw;
    height: 25vh;
}
.portfolio .region2-mid {
    width: 100vw;
    height: 50vh;
}
.portfolio .region2-bot {
    width: 100vw;
    height: 25vh;
}
.portfolio .region3-top {
    width: 100vw;
    height: 25vh;
}
.portfolio .region3-mid {
    width: 100vw;
    height: 50vh;
}
.portfolio .region3-bot {
    width: 100vw;
    height: 25vh;
}
/*contact*/
.contactsection .region-top {
    width: 100vw;
    height: 25vh;
}
.contactsection .region-mid {
    width: 100vw;
    height: 60vh;
}

.contactsection .region-bot {
    width: 100vw;
    height: 15vh;
}
/*control panel*/
.viewport{
    height: 100vh;
    width: 100vw;
}