@import "_regions.scss";
@import "_custom.scss";
@import "_itemmodel.scss";
/*----------------------------------------defaults------------------------------------*/
html, body { margin: 0; padding: 0; font-family: sans-serif; overflow-x: hidden;}
p { font-family: sans-serif; font-size: 25px; font-weight: 200; color: rgb(228, 228, 228); }
h1 { font-size: 26px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }
h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
    font-weight: 500;
    font-variant-caps: small-caps;
}
label, input {
    width: 25vw;
}
input, textarea{
    margin: 1vh 0;
}
textarea{
    height: 20vh;
    width: 25vw;
}
button{
    width: 25vw;
}
form{
    background-color: rgba(27, 27, 27, 0.455);
    padding: 2vh 2vw;
}
.style-none { list-style: none;}
footer {width: 100vw; min-height: 100vh; background: black; color: white; margin: 0; padding: 0;}
  /* Track */
  ::-webkit-scrollbar-track {
    position: relative;
    left: -1vw;
    background: rgb(121, 121, 121); 
  }
   
  /* Handle */
  ::-webkit-scrollbar{
      width: 10px;
      opacity: 0.5;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 3, 51); 
    border-radius: 15px;
  }
section{
    min-height: 100vh;
    background: black;
    color: white;
    margin: 0;
    padding: 0;
}
/*--------------------------------------containers-----------------------------------*/

/*-----------------------------------------states------------------------------------*/
.is-hidden{
    display: none;
}
.is-collapsed{
    animation: hide 0.5s linear forwards;
    pointer-events: none;
}
.on-top{
    z-index: 100;
}
.as-background{
    z-index: -1;
}

/*------------------------------------element effects--------------------------------*/
.rounded{
    border-radius: 10px;
    &-left-only{
        border-radius: 10px 0 0 10px;
    }
    &-bottom-only{
        border-radius: 0 0 10px 10px;
    }
    &-right-only{
        border-radius: 0 10px 10px 0;
    }
    &-top-only{
        border-radius: 10px 10px 0 0;
    }
}
.circle{
    border-radius: 50%;
}
.side-padding{
    &-l{padding: 0 1vw;}
    &-h{padding: 0 2vw;}
    &-large{padding: 0 10vw;}
}
.top-padding{
    &-l{padding: 1vw 0;}
    &-h{padding: 2vw 0;}
}
.side-margin{
    &-l{margin: 0 1vw;}
    &-h{margin: 0 2vw;}
}
.top-margin{
    &-l{margin: 1vh 0;}
    &-h{margin: 2vh 0;}
}
.margin{
    &-l{margin: 1vh 1vw;}
    &-h{margin: 2vh 2vw;}
    &-auto{margin: auto;}
}
.overflow-hide{
    overflow: hidden;
}
.scroll{
    overflow-y: auto;
    overflow-x: hidden;
}
.hide-overflow{
    overflow-y: hidden;
    overflow-x: hidden;
}
.opacity{
    &-l{opacity: 0.25;}
    &-m{opacity: 0.5;}
    &-h{opacity: 0.75;}
}
.pointer{
    cursor: pointer;
}
.pointer:hover {
    animation: hover 1s forwards;
}
.unhover {
    animation: unhover 0.25s ease-out forwards;
}
.scale{
    height: 100%;
    width: 100%;
    &-half{
        width: 50%;
        height: 100%;
        &-v{
            height: 50%;
            width: 100%;
        }
    }
}
.bg-lazy {
    height: 100vh;
    width: 100vw;
    transition: opacity 1s ease-out;
  }
  
  .bg-loading {
    opacity: 0;
  }
/*----------------------------------------position-----------------------------------*/
.flex{
                                /*DISCLAIMER*/
    /*x - justify, y - align*/
    /*x is the current direction of flex, y is the counter-direction.*/
    /*default direction is row. flex-direction: column inverts x and y*/
    /*align-items is for single, non wrapped rows*/
    /*align-content is for wrapped rows*/
    display: flex;
    &-column{
        flex-direction: column;
    }
    &-row{
        flex-direction: row;
    }
    &-center{
        justify-content: center;
        align-items: center;
    }
    &-align-center{
        align-items: center;
    }
    &-justify-center{
        justify-items: center;
    }
    &-wrap{
        flex-wrap: wrap;
        &-center{
            flex-wrap: wrap;
            align-content: center;
        }
    }
}
.text{
    &-center{
        text-align: center;
    }
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.sticky{
    position: sticky;
    top: 0;
}
.fixed{
    position: fixed;
    top: 0;
}
.position-reset{
    top: 0;
    left: 0;
}
/*---------------------------keyframes--animation-------------------------*/
@keyframes hover {
    0% {

    }
    100% {
        filter: brightness(200%);
    }
}
@keyframes unhover {
    0% {
        filter: brightness(200%);
    }
    100% {
        filter: brightness(100%);
    }
}
/*----------------------------------queries-------------------------------*/

@media only screen
    and (max-device-width: 480px) {
        .about .region1-top, .about .region2-top, .about .region3-top{
            height: 50vh;
            width: 100vw;
        }
        .about .region1-mid {
            height: 50vh;
            width: 100vw;
        }
        .about .region2-mid, .about .region3-mid{
            height: 50vh;
            width: 100vw;
        }
        .about .region1-bot, .about .region2-bot, .about .region3-bot{
            height: 50vh;
            width: 100vw;
        }
    }

@media only screen
    and (min-device-width: 481px) 
    and (max-device-width: 767px) {

    }

@media only screen
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) {

    }

@media only screen
    and (min-device-width: 1025px) 
    and (max-device-width: 1365px) {
        
    }

@media only screen
    and (min-device-width: 1366px) 
    and (max-device-width: 1920px){

    }
@media only screen
    and (min-device-width: 1921px) {

    }